---
import fs from "fs";
import LH_lang from "../../../layouts/LH_lang.astro";

export async function getStaticPaths() {
    const articles = await Astro.glob("/LH/**/*.(mdx|md)");
    const listLhs = fs.readdirSync("LH/").filter((lh) => lh.startsWith("LH"));
    let routes = [];
    for (const lhName of listLhs) {
        const listLangs = fs.readdirSync(`LH/${lhName}/`);
        for (const oneLang of listLangs) {
            if (oneLang.includes(".")) {
                continue;
            }
            const listLhs = fs.readdirSync(`LH/${lhName}/${oneLang}/`);
            for (const oneArticle of listLhs) {
                const goodArticle = articles.find((e) => {
                    return e.file.includes(`/LH/${lhName}/${oneLang}/${oneArticle}`);
                });
                if (goodArticle) {
                    const path = goodArticle.file.split("/").pop().split(".").slice(0, -1).join(".");
                    const imagePath = goodArticle?.frontmatter?.coverimage;
                    routes.push({
                        params: { lh: lhName, path: path, lang: oneLang },
                        props: {
                            currentLh: goodArticle.Content,
                            title: goodArticle?.frontmatter?.title,
                            subtitle: goodArticle?.frontmatter?.subtitle,
                            author: goodArticle?.frontmatter?.author,
                            coverimage: imagePath && `/${lhName}/${imagePath}`,
                            pubDate: goodArticle?.frontmatter?.pubDate,
                        },
                    });
                }
            }
        }
    }

    return routes;
}

const { lh, lang, path } = Astro.params;
const { currentLh: Content, title, subtitle, coverimage, author, pubDate } = Astro.props;

const pageTitle = `${title || ""} - ${lh}`;
---

<LH_lang lang={lang} title={pageTitle}>
    {coverimage && <img src={coverimage} style="width:100%;" height="auto" />}
    <h1>{title}</h1>
    <h2>{subtitle}</h2>
    <p style="font-size: smaller;">
        <i>
            {author && <>Par {author} </>}
        </i>
        {
            pubDate && (
                <>
                    {lang === "fr" ? "Le " : "On "}{" "}
                    {new Date(pubDate).toLocaleDateString(lang == "fr" ? "fr-FR" : "en-EN", {
                        year: "numeric",
                        month: "long",
                        day: "numeric",
                    })}{" "}
                    <> </>
                </>
            )
        }
        <Content />
    </p>
</LH_lang>
