---
import fs from "fs"
import LH_article from "../../../layouts/LH_lang.astro";

export async function getStaticPaths() {
    const listArticles = await Astro.glob("/LH/**/*.(mdx|md)");
    const listLhs = fs.readdirSync("LH/").filter((lh) => lh.startsWith("LH"));
    let routes = [];
    for (const lhName of listLhs) {
        const listLang = fs.readdirSync(`LH/${lhName}`);
        for (const oneLang of listLang) {
            if (oneLang.includes(".")) {
                continue;
            }
            const memeFolderPath = `public/${lhName}/${oneLang}/memes`;
            const memePageExists = fs.existsSync(memeFolderPath);
            if(memePageExists) {
                const memeImageFiles = fs.readdirSync(memeFolderPath);
                routes.push({
                    params: { lh: lhName, lang: oneLang },
                    props: { 
                        images: memeImageFiles
                    },
                });
            }
        }
    }
    return routes;
}

const { lh, lang } = Astro.params;
const { images } = Astro.props;
const memesTitle = lang === "fr" ? "Memes de la semaine" : "Memes of the week";
---

<LH_article lang={lang} title={memesTitle}>

    <center><h1>{memesTitle}</h1></center>

    {
    images.map((path) => (
        <img src={`/${lh}/${lang}/memes/${path}`} style="width: 90%; height: auto;" />
        <br>
        <br>
    ))
    }
</LH_article>