---
import Template from "../layouts/Template.astro";
import Logo from "../images/Logo_LH2.png";

const regex = /.*\/LH\/LH(.*?)\/.*/;
const lhs = await Astro.glob("/LH/**/fr/index.md*");
const goodLhs = lhs
    .sort((a, b) => {
        
        return b.file
            .replace(regex, "$1")
            .localeCompare(a.file.replace(regex, "$1"), undefined, { numeric: true, sensitivity: "base" });
    })
    .map((oneLh) => {
        const title = oneLh.frontmatter?.pubDate
            ? new Date(oneLh.frontmatter.pubDate).toLocaleDateString("fr-FR", {
                  month: "long",
                  day: "numeric",
              })
            : "";
        return { title: `Parution du ${title}`, link: `LH${oneLh.file.replace(regex, "$1")}` };
    });

const { title, lang = "fr" } = Astro.props;
---

<Template langHeader={true} lang={lang} isIndex={true}>
    <div id="banner">
        <b>{title}</b>
    </div>
    <div class="maligne"></div>

    <div id="logo">
        <img src={Logo} width="250" alt="Lettre Hebdomadaire" />
    </div>
    <div id="menu">
        <h4>Parutions</h4>
        <div style="overflow-y:scroll; height:250px;">
            {goodLhs.map((post) => 
                <b><a class="menulink" href={`/${post.link}/fr/`}>{post.title}</a></b><br>
            )}
        </div>
    </div>

    <div id="content">
        <slot />
    </div>
</Template>