---
import fr from "../images/fr.png";
import en from "../images/en.png";
import Logo from "../images/Logo_LH2.png";
import "../styles/style.css";
import FooterEn from "../components/FooterEn.astro";
import FooterFr from "../components/FooterFr.astro";
import Template from "./Template.astro";
const { posts, lang = "fr", date = null, title } = Astro.props;
const { lh } = Astro.params;

const correctDate = date
    ? new Date(date).toLocaleDateString(lang === "fr" ? "fr-FR" : "en-GB", {
          year: "numeric",
          month: "long",
          day: "numeric",
      })
    : "";
---

<Template title={`${correctDate} - ${lh}`} langHeader={true} lang={lang}>
    <div id="banner" text-align="center">
        <b>Edito du {correctDate || "(pas de date !!)"}</b>
    </div>
    <div class="maligne"></div>

    <div id="logo" text-align="center">
        <img src={Logo.src} style="width: 250px" alt="Lettre Hebdomadaire" />
    </div>

    <div id="menu">
        {
            posts
                .sort((post1, post2) => post1.order - post2.order)
                .filter((post) => !post.draft)
                .map((post) => (
                    <>
                        <b>
                            <a class="menulink" href={`${post.name}`}>
                                {post.linktitle ? post.linktitle : post.title}
                            </a>
                        </b>
                        <br />
                    </>
                ))
        }
    </div>
    <h1>{title}</h1>
    <div id="content">
        <p>
            <slot />
        </p>
        {lang === "en" && <FooterEn />}
        {lang === "fr" && <FooterFr />}
    </div>
</Template>
