---
import fs from "fs";
import Logo from "../images/Logo_LH2.png";
import "../styles/style.css";
import Template from "./Template.astro";
import Footer from "../components/Footer.astro";

const { posts, lang = "fr", date = null, title } = Astro.props;
const { lh } = Astro.params;

const listLhs = fs.readdirSync("LH/")
                  .filter((lh) => lh.startsWith("LH"))
                  .map((lh) => parseInt(lh.slice(2)))
                  .sort((a, b) => a-b);

const numLH = parseInt(lh.slice(2));
const indexLH = listLhs.indexOf(numLH);

const correctDate = date
    ? new Date(date).toLocaleDateString(lang === "fr" ? "fr-FR" : "en-GB", {
          year: "numeric",
          month: "long",
          day: "numeric",
      })
    : "";
---

<Template title={`${correctDate} - ${lh}`} langHeader={true} lang={lang}>
    <div style="display: flex; justify-content: space-between; flex-flow: row;">
        <span style="text-align:left;">
            { indexLH > 0 &&
                <>
                    <a href={`/${"LH"+listLhs[indexLH - 1]}/${lang}/`}>◀ LH précédente</a>
                </>
            }
        </span>
        <span>
            <a href="/">Accueil</a>
        </span>
        <span style="text-align:left;">
            { indexLH < listLhs.length - 1 &&
                <>
                    <a href={`/${"LH"+listLhs[indexLH + 1]}/${lang}/`}>LH suivante ▶</a>
                </>
            }
        </span>
    </div>
    <div id="banner" text-align="center">
        <b>Edito du {correctDate || "(pas de date !!)"}</b>
    </div>
    <div class="maligne"></div>

    <div id="logo" text-align="center">
        <img src={Logo.src} style="width: 250px" alt="Lettre Hebdomadaire" />
    </div>

    <div id="menu" style="overflow-y:scroll; height:230px; margin-right:15px;">
        {
            posts
                .sort((post1, post2) => post1.order - post2.order)
                .filter((post) => !post.draft)
                .map((post) => (
                    <>
                        <b>
                            <a class="menulink" href={`${post.name}`}>
                                {post.linktitle ? post.linktitle : post.title}
                            </a>
                        </b>
                        <br />
                    </>
                ))
        }
    </div>
    {
        title && (
            <>
                <h1>{title}</h1>
            </>
        )
    }
    <div id="content">
        <p>
            <slot />
        </p>
        <Footer lang={lang} />
    </div>
</Template>
