---
import edito from "../images/edito.png";
import editoEn from "../images/edito-en.png";
import fr from "../images/fr.png";
import en from "../images/en.png";
import Logo from "../images/Logo_LH2.png";
import "../styles/style.css";

const { title, langHeader, lang, isArticle, isIndex } = Astro.props;
const currentPath = Astro.url.pathname;
const hrefLangFr = lang === "fr" ? currentPath : currentPath === "/en" ? "/" : currentPath.replace("/en/", "/fr/");
const hrefLangEn = lang === "en" ? currentPath : currentPath === "/" ? "/en" : currentPath.replace("/fr/", "/en/");   
---

<!DOCTYPE html>
<html>
    <head>
        <title>{title}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta
            name="description"
            content="La LH est un sorte de cryptide, une association qui, malgré les ides de mars qu'elle subit chaque année, finit toujours par ressortir de l'oubli pour un ou deux mois."
        />
    </head>

    <body>
        <div class="topnav">
            <div class="topnav-left">
                <a class="img-link" href="/">
                    <img class="img-link" style="max-height:100%; width:auto;" src={Logo} alt="Lettre Hebdomadaire" />
                </a>
                {
                    isArticle && (
                        <>
                            <a class="img-link" style=" background-color: transparent;">
                                <div class="img-link" style="width:10px; background-color: transparent;" />
                            </a>
                            <a class="img-link" href="./">
                                <img
                                    class="img-link"
                                    style="max-height:100%; width:auto;"
                                    src={lang === "fr" ? edito : editoEn}
                                    alt="Lettre Hebdomadaire"
                                />
                            </a>
                        </>
                    )
                }
            </div>
            {
                langHeader && (
                    <div class="topnav-right">
                        <div id="lang">
                            <a href={hrefLangFr} class="langlink" title="Français">
                                <img src={fr} alt="Français" class="langlink" />
                            </a>
                            <a href={hrefLangEn} class="langlink" title="English">
                                <img src={en} alt="English" class="langlink" />
                            </a>
                        </div>
                    </div>
                )
            }
        </div>

        <div id="ppal">
            <slot />
        </div>
    </body>
</html>
